
<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <title>User</title>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>
this is data<a href="/user-list"> back </a>
<table>
    <tr>
        <td>First Name</td>
        <td></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td></td>
    </tr>
    <tr>
        <td>Email</td>
        <td></td>
    </tr>
    <tr>
        <td>Password</td>
        <td></td>
    </tr>

</table>
</body>
</html>
